version: 2.1

orbs:
  node: circleci/node@4.7.0

jobs:
  build-and-test:
    docker:
      - image: cimg/<< parameters.node-version >>
    parallelism: 8
    steps:
      - checkout
      - node/install-packages
      - run:
          command: |
            echo $(circleci tests glob "test/**/*.test.js")
            circleci tests glob "test/**/*.test.js" | circleci tests split |
            xargs npm run test-ci
  
workflows:
  Testing:
    jobs:
      - build-and-test:
          matrix:
            parameters:
              node-version: ["13.8", "14.2", "15.11"]
          