version: 2.1

orbs:
  node: circleci/node@4.7.0

jobs:
  build-and-test:
    parameters:
      node-version:
        type: string
        default: "15.10.0"
    docker:
      - image: cimg/node:<< parameters.node-version >>
    parallelism: 5
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run:
          name: Test application
          command: |
            TEST=$(circleci tests glob "test/**/*.test.js" | circleci tests split --split-by=timings)
            yarn test $TEST
      - run:
          name: Copy test results for storing
          command: |
            mkdir ~/junit
            cp junit.xml ~/junit/
          when: always
      - store_test_results:
          path: ~/test-results
      - store_artifacts:
          path: ~/test-results
      
workflows:
  Testing-Workflow:
      jobs:
      - build-and-test:
          matrix:
            parameters:
              node-version: ["13.8", "14.2", "15.11"]