version: 2.1

orbs:
  node: circleci/node@4.7.0

jobs:
  build-and-test:
    parameters:
      node-version:
        type: string
        default: "15.10.0"
    docker:
      - image: cimg/node:<< parameters.node-version >>
    parallelism: 5
    steps:
      - checkout
      - node/install-packages
      - run:
          name: Test application
          command: |
            echo $(circleci tests glob "test/**/*.test.js")
            circleci tests glob "test/**/*.test.js" | circleci tests split --split-by=timings --timings-type=classname |
            xargs npm run test-ci
      - run:
          name: Copy test results for storing
          command: |
            mkdir ~/test-results
            cp test-results.xml ~/test-results/
          when: always
      - run:
          name: Process test report
          when: always
          command: |
              # Convert absolute paths to relative to support splitting tests by timing
              if [ -e ~/test-results.xml ]; then
                sed -i "s|`pwd`/||g" ~/test-results.xml
      - store_test_results:
          path: ~/test-results
      - store_artifacts:
          path: ~/test-results
      
workflows:
  Testing-Workflow:
      jobs:
      - build-and-test:
          matrix:
            parameters:
              node-version: ["13.8", "14.2", "15.11"]