version: 2.1

orbs:
  node: circleci/node@4.7.0

jobs:      
  test-1:
    docker: 
      - image: cimg/node:13.8
    resource_class: small
    steps:
      - checkout
      - node/install-packages
      - run:
          command: npm run test-ci
  test-2:
    docker: 
      - image: cimg/node:14.2
    resource_class: small
    steps:
      - checkout
      - node/install-packages
      - run:
          command: npm run test-ci
  test-3:
    docker: 
      - image: cimg/node:15.11
    resource_class: small
    steps:
      - checkout
      - node/install-packages
      - run:
          command: npm run test-ci

workflows:
  Testing:
    jobs:
      - test-1
      - test-2
      - test-3
  